*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.checkboxClass {
    display: none;
}

span {
    padding: 0 20px;
    color: tomato;
    font-size: 25px;
}

h2, h3 {
    padding: 20px 0;
}

#main_window {
    width: 100%;
    height: 100%;
    background: url("./images/slaid2pizza.jpg") center / cover no-repeat;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#order_list,
#ingredients_list {
    padding: 50px;
}

#order_list,
#pizza_image_load {
    flex-basis: 50%;
    height: 500px;
}

#order_list {
    position: relative;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

#order_list li {
    list-style-type: disc;
}

#price {
    position: absolute;
    bottom: 50px;
    font-size: 25px;
}

#price > p > span {
    font-size: 30px;
}

#pizza_image_load {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
}

#whole_pizza {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slice_of_pizza {
    flex-basis: 50%;
    width: 150px;
    height: 150px;
}

#pizza_image_load > button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    background: tomato;
    border: none;
    border-radius: 10px;
}

#pizza_image_load > button:hover {
    background: red;
    cursor: pointer;
}

#pizza_image_load > button:disabled {
    color: black;
    background: rgba(128, 128, 128, 0.8);
}

#ingredients_list {
    flex-basis: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
